//
   Created by ppp on 1/10/2016.

extends layout
block content
    .vertical-center
        .container.col-xs-10
            .row
                .col-sm-4.col-sm-offset-4
                    .page-header
                        h1 About TrekTalk
                    p TrekTalk is a community site for like-minded individuals to discuss the wonders of the galaxy, and to boldly go where no
                        b  one
                        |  has gone before!