//
   Created by ppp on 1/10/2016.

extends layout
block content
    .vertical-center
        .container.col-xs-10
            .row
                .col-sm-4.col-sm-offset-4
                    .page-header
                        h1 Contact Us
                    .center-text
                        p - Welcome to Trek Talk -
                        p   Complete the form below to contact us if you are experiencing issues with the website :) or if you want to join the next
                        h2  'TREKTACULAR-MOVIE-NIGHT'