//
   Created by Hails on 28/09/2016.
extends layout
block content
    .container.col-xs-10
        .row
            .page-header
                h1 Movies

            .movie-list
                if(movies)
                    for movie in movies
                        if(movie)
                            a(href=("/movies/"+movie.id))
                                .movieTile(style="background-image:url('https://image.tmdb.org/t/p/w500" + movie.backdrop_path + "');")
                                    h3.movie-title= movie.title