//Created by Helen Giapitzakis on 28/09/2016.
extends layout
block content
    .container.col-xs-10
        .row
            .page-header
                h1 All Movies
                p The Trek, the whole Trek, and nothing but the Trek.

            p.center-text (Hover over a graphic below for details of the selected movie. Click on a film to see its rating or to add your own comments/reviews)

            .movie-list
                if(movies)
                    for movie in movies
                        if(movie)
                            a(href=("/movies/"+movie.id))
                                if(movie.backdrop_path != null)
                                    .movieTile(style="background-image:url('https://image.tmdb.org/t/p/w500" + movie.backdrop_path + "');")
                                else
                                    .movieTile
                                .movieTileOver
                                    .movieTileOverInner
                                        p.movieInfo= movie.overview
                                        h3.movie-title= movie.title