extends layout
block content
    .vertical-center
        .container.col-xs-10
            .row
                .col-sm-4.col-sm-offset-4
                    .page-header
                        h1 Login
                    if loggedIn
                        p congrats on logging in
                        if email && password
                            p= email
                            p= password

                    else
                        if errors
                            div
                                ul
                                    each item in errors
                                        li= item.msg
                            
                    form.form-group(action="/submitLogin", method="post")
                        input(class="form-control", type="text", id="email", name="email", placeholder="email address")
                        br
                        input(class="form-control", type="password", id="password", name="password", placeholder="password")
                        br
                        button(class="btn btn-primary", type="submit") login
                    // Google sign in button
                    //.g-signin2(data-onsuccess="onSignIn") hullo

                    // Sign out button
                   // .singOut: a(href="#" onclick="signOut();") Sign out

    script(src="javascripts/login.js", type='text/javascript')
