extends layout
block content
    .vertical-center
        .container
            .row
                .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
                    .page-header
                        h1 Login
                    if errors
                        div
                            ul
                                each item in errors
                                    li= item.msg
                    form.form-group(action="/submitLogin", method="post")
                        input(class="form-control", type="text", id="email", name="email", placeholder="email address")
                        br
                        input(class="form-control", type="password", id="password", name="password", placeholder="password")
                        br
                        button(class="btn btn-primary", type="submit") login
                        br
                        h6.right-align Need an account? create one
                            a(href="/register")  here
    script(src="javascripts/login.js", type='text/javascript')
