extends layout
block content
    .vertical-center
        .container
            .row
                .col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
                    .page-header
                        h1 Registration
                    if errors
                        div
                            ul
                                each item in errors
                                    li= item.msg
                    .errorReg= message
                    br
                    form.form-group(action="/submitReg", method="post")
                        input(class="form-control", type="text",id="name" name="name", placeholder="Name or Alias: 'Jean-Luc Picard'")
                        br
                        input(class="form-control", type="text", id="email", name="email", placeholder="Email: JeanLP@jmail.com")
                        br
                        input(class="form-control", type="password", id="password", name="password", placeholder="Password: Minimum 4 characters")
                        br
                        input(class="form-control", type="password",id="confirmPassword", name="confirmPassword", placeholder="Confirm Password")
                        br
                        button(class="btn btn-primary", type="submit") submit
                    h6.right-align already have an account? login
                            a(href="/login")  here
                    .center-text
                        strong  Please ensure that your registration credentials fit the following conditions:
                    br
                    ul.col-sm-8.col-sm-offset-2
                        li Name must consist of only letters and/or numbers
                        li Email must be of the form 'host@host.com'
                        li Password must be a minimum of four characters, including at least one character and one number.

    script(src="javascripts/login.js", type='text/javascript')