body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.vertical-center
    min-height: 80%  // Fallback for browsers do NOT support vh unit
    min-height: 80vh // These two lines are counted as one :-)

    display: flex
    align-items: center
.signOut
  color: blue
.btn-primary
  background-color: #5bc0de
.my-button
  colour: blue
.movieTile
  float: left
  width: 500px
  height: 250px
  padding: 20px
  padding-top : 50px
  margin: 5px
  color: white
  background-color: #1a3a95
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
.movieDetails
  text-align: center
.commentForm
  text-align: right
.commentText
  height: 100px
  width: 300px